.main-div {
  display: flex;
  justify-content: center;
  /*max-width: 600px;*/
}

.dashboard-card {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.dashboard-row {
  display: flex;
  /*width: 100%;*/
}

.dashboard-link {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dashboard-icon {
  /*display: flex;*/
}

.dashboard-button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
