<mat-toolbar color="primary" class="my-toolbar">
  <span>
    Mova News
  </span>
  <span class="spacer"></span>
  <form>
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input type="text"
             placeholder="What to look for"
             aria-label="Number"
             matInput
             [formControl]="searchControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button
            aria-label="Start full search"
            matTooltip="Click to start advanced search">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <button mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Select a theme"
          matTooltip="Select a theme for this news site">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="">Light</button>
    <button mat-menu-item>Dark</button>
  </mat-menu>
  <button mat-icon-button aria-label="Login button"
          matTooltip="Login for admin privileges">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
